.file {
    height: 20%;
    width: 80%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 2px;
    position: relative;
    pointer-events: auto;
  }
  
  .file:hover {
    background-color: darkred;
  }
  